*{
    margin: 0;
    padding: 0;
}
.about{
    background-image: url('../assets/image_14.jpg');
    background-size: cover;
    margin-top: 60px;
   height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about h1{
    font-size: 70px;
    color: black;
    text-align: center;
}
.about-page{
    display: flex;
    margin-top: 100px;
    gap: 40px;
}
.about-page img{
    width: 700px;
    height: 530px;
    margin-left: 30px;
    border-radius: 50px;
   
}
.about-page-upper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-page-upper-inside{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-page-upper-inside h1{
    font-size: 50px;
}
.about-page-upper-inside h2{
    color: rgb(81, 0, 255);
}
.about-page-upper-inside h3{
    font-size: 25px;
}
.about-page-down{
    display: flex;
    justify-content: space-between;
}
.about-page-down img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
   

    
}
.about-page-down-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px 40px;
    gap: 20px;
    margin-bottom: 40px;
    background-color: rgb(198, 215, 215);
}
.about-page-down-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;
    margin-right: 50px;
    gap: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: rgb(198, 215, 215);
}
.member-page{
    display: flex;
    flex-direction: column;
}
.member-page-inside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    text-align: center;
}
.member-page-inside h2{
    color: blue;
}
.member-page-inside h1{
    font-size: 50px;
}
.member-page-down{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 200px;
    gap: 150px;
    text-align: center;
}
.member-page-down img{
    width: 150px;
}
.member-page-down-inside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    padding: 60px 40px; 
    border-radius: 8px;
    text-align: center;
    background-color: rgb(234, 251, 251);
}
.member-page-down-lower{
    margin-top: 20px;
    
    margin-left: 18px;
    padding: 30px 10px; 
    border-radius: 8px;
    background: linear-gradient(rgba(0,0,0,0.1),rgb(147, 202, 200));
}
.footer-page{
    display: flex;
    flex-direction: row;
    background-color: rgb(38, 63, 62);
    justify-content: center;    
    padding: 40px;
    margin-top: 30px;
    height: 300px;
    
}
.footer-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 50px;
    
}
.footer-inside h1{
    font-size: 30px;
    color: rgb(244, 114, 140);
}
.footer-inside h2{
    font-size: 20px;
    color: rgb(244, 114, 140);
}
.footer-inside ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin-top: 20px;
}
.footer-inside ul li{
    font-size: 20px;
}
.footer-inside a{
    text-decoration: none;
    color: white;
}
.footer-inside p{
    font-size: 20px;
    margin-top: 20px;
}
